.jordan-banner-container{
    background-image: linear-gradient(to left top, #972e2e 20%,#aaaaaa);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin: 40px;
}
.jordan-headline{
    font-size: 4rem;
    color: #ffffff;
}
.jordan-sub-headline{
    font-size: 1rem;
    font-family: 'poppins';
    text-align: center;
    color: #EDEDED;
}
/* PRODUCT COLORS */
.jordan1{
    background-image: linear-gradient(to left top, #d2d0d3 20%,#9a4854);
    color: #000000;
}
.jordan2{
    background-image: linear-gradient(to left top, #b8b8ba 20%,#b3bdc7);
    color: #000000;
}
.jordan3{
    background-image: linear-gradient(to left top, #a7a6ab 20%,#7f7e83);
    color: #000000;
}
.jordan4{
    background-image: linear-gradient(to left top, #c5c3c8 20%,#175584);
    color: #000000;
}
.jordan5{
    background-image: linear-gradient(to left top, #cac6c3 20%,#b18d69);
    color: #000000;
}
.jordan6{
    background-image: linear-gradient(to left top, #e7e7e7 20%,#b6b6b6);
    color: #000000;
}
.jordan7{
    background-image: linear-gradient(to left top, #b6b7bc 20%,#656567);
    color: #000000;
}
.jordan8{
    background-image: linear-gradient(to left top, #e7e3e0 20%,#9b2545);
    color: #000000;
}
.jordan9{
    background-image: linear-gradient(to left top, #1f1e20 20%,#cb0a31);
    color: #000000;
}
.jordan10{
    background-image: linear-gradient(to left top, #e3e6ed 20%,#005d93);
    color: #000000;
}
.jordan11{
    background-image: linear-gradient(to left top, #e3e4e8 20%,#cdccd1);
    color: #000000;
}
.jordan12{
    background-image: linear-gradient(to left top, #b9b8b3 20%,#51685e);
    color: #000000;
}