@font-face {
    font-family: 'poppins-med';
    src: url(./Poppins-Medium.ttf);
}

#section3{
    color: #ffff;
} 
.section3-container{
    display: grid;  
    margin: 200px 50px 50px 50px;
    gap: 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(250px, 1fr);
    grid-template-areas: 
    " item6     item6       item6       item6       item6 "
    " card1     card2       card3       card4       card5 "
    ;
}
.item6{
    grid-area: item6;
    font-family: 'poppins-med';
    font-size: 40px;
}

/* CARD 1 */
.card-container1{
    grid-area: card1;
    padding: 0;
}

.card-container1 a{
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.card-up1{
    width: 100%;
    background-image: linear-gradient(to left top, #5c3619 20%,#e36200);
    border-radius: 16px;
    overflow: hidden;
    border: 3px solid #ececec;
  }
  
  .card1 h3 {
    font-size: 40px;
    text-align: center;
  }

  .card1 h3 a{
    text-decoration: none;
    color: #fff;
  }
  
  .card-image {
    width: 100%;
    object-fit: cover;
  }
.card-container1:hover{
  transform: scale(1.1);
  transition: 0.5s;
} 
.card-container1:hover .card-image{
  transform: rotate(-15deg) scale(1.3);
  transition: 1s;
}
.card-container1 a:hover{
  opacity: 1;
} 

/* CARD 2 */
.card-container2{
  grid-area: card2;
  padding: 0;
}

.card-container2 a{
text-decoration: none;
color: #fff;
opacity: 0.8;
}

.card-up2{
  width: 100%;
  background-image: linear-gradient(to left top, #5c1919 20%,#e30000);
  border-radius: 16px;
  overflow: hidden;
  border: 3px solid #ececec;
}

.card2 h3 {
  font-size: 40px;
  text-align: center;
}

.card2 h3 a{
  text-decoration: none;
  color: #fff;
}

.card2 img {
  width: 100%;
  object-fit: cover;
}
.card-container2:hover{
transform: scale(1.1);
transition: 0.5s;
} 
.card-container2:hover .card-image{
  transform: rotate(-15deg) scale(1.3);
  transition: 1s;
}
.card-container2 a:hover{
opacity: 1;
} 

/* CARD 3 */
.card-container3{
  padding: 0;
  grid-area: card3;
}

.card-container3 a{
text-decoration: none;
color: #fff;
opacity: 0.8;
}

.card-up3{
  width: 100%;
  background-image: linear-gradient(to left top, #355c19 20%,#6ee300);
  border-radius: 16px;
  overflow: hidden;
  border: 3px solid #ececec;
}

.card3 h3 {
  font-size: 37.6px;
  text-align: center;
}

.card3 h3 a{
  text-decoration: none;
  color: #fff;
}

.card3 img {
  width: 100%;
  object-fit: cover;
}
.card-container3:hover{
transform: scale(1.1);
transition: 0.5s;
} 
.card-container3:hover .card-image{
  transform: rotate(-15deg) scale(1.3);
  transition: 1s;
}
.card-container3 a:hover{
opacity: 1;
} 

/* CARD 4 */
.card-container4{
  padding: 0;
  grid-area: card4;
}

.card-container4 a{
text-decoration: none;
color: #fff;
opacity: 0.8;
}

.card-up4{
  width: 100%;
  background-image: linear-gradient(to left top, #195c5a 20%,#00e3c5);
  border-radius: 16px;
  overflow: hidden;
  border: 3px solid #ececec;
}

.card4 h3 {
  font-size: 40px;
  text-align: center;
}

.card4 h3 a{
  text-decoration: none;
  color: #fff;
}

.card4 img {
  width: 100%;
  object-fit: cover;
}
.card-container4:hover{
transform: scale(1.1);
transition: 0.5s;
} 
.card-container4:hover .card-image{
  transform: rotate(-15deg) scale(1.3);
  transition: 1s;
}
.card-container4 a:hover{
opacity: 1;
} 

/* CARD 5 */
.card-container5{
  padding: 0;
  grid-area: card5;
}

.card-container5 a{
text-decoration: none;
color: #fff;
opacity: 0.8;
}

.card-up5{
  width: 100%;
  background-image: linear-gradient(to left top, #636363 20%,#ffffff);
  border-radius: 16px;
  overflow: hidden;
  border: 3px solid #ececec;
}

.card5 h3 {
  font-size: 40px;
  text-align: center;
}

.card5 h3 a{
  text-decoration: none;
  color: #fff;
}

.card5 img {
  width: 100%;
  object-fit: cover;
}
.card-container5:hover{
transform: scale(1.1);
transition: 0.5s;
} 
.card-container5:hover .card-image{
  transform: rotate(-15deg) scale(1.3);
  transition: 1s;
}
.card-container5 a:hover{
opacity: 1;
} 

@media only screen and (max-width: 768px) {
    .section3-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "item6 item6"
        "card1 card2"
        "card3 card4"
        "card5 none";
      gap: 20px;
      margin: 100px 20px;
    }
  }
  
@media only screen and (max-width: 320px) {
    .section3-container{
        grid-template-columns: 1fr;
        grid-template-areas:
          "item6"
          "card1"
          "card2"
          "card3"
          "card4"
          "card5";
        margin: 80px 10px;
    }
}