.new-banner-container{
    background-image: linear-gradient(to left top, #818181 20%,#ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin: 40px;
}
/* PRODUCTS */
.AIRMAXDN8{
    background-image: linear-gradient(to left top, #e99c61 20%,#e36200);
    color: #000000;
}
.JORDANCMFT{
    background-image: linear-gradient(to left top, #c4bfb9 20%,#cccccc);
    color: #000000;
}
.NIKEPEGASUS{
    background-image: linear-gradient(to left top, #90bc03 20%,#e8ff9b);
    color: #000000;
}
.NIKEVOMERO{
    background-image: linear-gradient(to left top, #c4bfb9 20%,#cccccc);
    color: #000000;
}
.ZMSUPERFLY{
    background-image: linear-gradient(to left top, #439e9b 20%,#00e3c5);
    color: #000000;
}
.SPIZIKE{
    background-image: linear-gradient(to left top, #8c8885 20%,#f0f3fa);
    color: #000000;
}
.V2K{
    background-image: linear-gradient(to left top, #a9aaa4 20%,#6f818f);
    color: #000000;
}
.NIKESPACE{
    background-image: linear-gradient(to left top, #b2bdaf 20%,#8cc090);
    color: #000000;
}
.METCON{
    background-image: linear-gradient(to left top, #927a9e 20%,#b4aeb2);
    color: #000000;
}
.JORDAN4RM{
    background-image: linear-gradient(to left top, #d4d1c8 20%,#beccbf);
    color: #000000;
}